{{> head}}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Mi imagen</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque labore ea quaerat illo non? Culpa nostrum repellendus doloremque provident perspiciatis deserunt? Autem nobis harum delectus magnam a velit laudantium.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus tenetur possimus eligendi ad unde architecto quod repellendus cupiditate. Debitis, voluptate minus qui adipisci laborum impedit fuga rerum natus? Harum, ex?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/img-9.jpg" class="img-thumbnail" alt="panda">
    </div>

</div>

{{> footer}}